<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Plain Ol' Todo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>524DAD801D66639500BA286D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>524DAD941D66639600BA286D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>524DAD9F1D66639600BA286D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
